<h2>Flights</h2>

<%= form_with model: Flight.new, method: :get do |f| %>
  <div>
  <%= f.label :departure_code, "Departure Airport" %>
  <%= f.select :departure_code, Airport.all.map { |a| [a.place, a.id] }, selected: @select_departure %>
  </div>

  <div>
    <%= f.label :arrival_code, "Arrival Airport" %>
    <%= f.select :arrival_code, Airport.all.map { |a| [a.place, a.id] }, selected: @select_arrival %>
  </div>
  
  <div>
    <%= f.label :num_tickets, "Number of Passengers" %>
    <%= f.select :num_tickets, 1..4, selected: @select_tickets || 2 %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.select :date, Flight.all.order(:start).map { |fl| [fl.start_date_readable, fl.start_date_8d] }.uniq, selected: @select_date %>
  </div>

  <div><%= f.submit "Search Flights" %></div>
<% end %>

<% if @flights %>
  <%= form_with url: '/bookings/new', method: :get do |f| %>
  <%= f.hidden_field :num_tickets, value: @select_tickets %>
    <table>
      <tr>
        <th>Book?</th>
        <th>Code</th>
        <th>Departure Airport</th>
        <th>Destination</th>
        <th>Start Time</th>
        <th>Flight Time</th>
      </tr>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= f.radio_button :id, flight.id %></td>
          <td><%= f.label "id_#{flight.id}", flight.code %></td>
          <td><%= flight.departure_airport.place %></td>
          <td><%= flight.arrival_airport.place %></td>
          <td><%= flight.start %></td>
          <td><%= flight.duration %></td>
        </tr>
      <% end %>  
    </table>
    <%= f.submit "Book for #{@select_tickets} passengers" %>
  <% end %>
<% end %>
